 <footer class="footer">
 
    <div class="footer-left">
    
        <h3>My<span>Footer</span></h3>
        <div class="footer-links">   
            <ul>
                <li class="footer-item"><%= link_to "Home", root_url %></li>
                <li class="footer-item"><%= link_to "About", about_url %></li>
                <li class="footer-item"><%= link_to "Contact", contact_url %></li>
            </ul>
        </div>
        <p class="footer-company-name">Company &copy; 2021</p>
    </div>
        
    <div class="footer-center">
    
        <div>
            <p><span>Résidence Méditerrannée</span> Casablanca, Morocco</p>
        </div>
    
        <div>
            <p>+212 626-384132</p>
        </div>
    
        <div>
            <p><a href="mailto:mb.bouyebla@gmail.com">mb.bouyebla@gmail.com</a></p>
        </div>
    
    </div>
    
    <div class="footer-right">
    
        <p class="footer-company-about">
            <span>About the company</span>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam laoreet in mi quis dignissim.
        </p>
        
        <div class="footer-icons">
        
            <a href="#"><i class="facebook"></i></a>
            <a href="#"><i class="twitter"></i></a>
            <a href="#"><i class="linkedin"></i></a>
            <a href="#"><i class="github"></i></a>
            
        </div>
    
    </div>
 
 </footer>
 