<div class="nav-wrapper">
  <nav class="navbar">
    <ul class="menu">
      <li class="logo"><img src="https://purepng.com/public/uploads/thumbnail//google-stadia-logo-hd4.png"></li>
      <li class="nav-item"><%= link_to "Home", root_url %></li>
      <li class="nav-item"><%= link_to "About", about_url %></li>
      <li class="nav-item"><%= link_to "Contact", contact_url %></li>
      <li class="toggle"><a href="#"><i class="fas fa-bars"></i></a></li>
    </ul>
  </nav>
</div>