<section class="headline">
    <h1>Home page</h1>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam laoreet in mi quis dignissim. Donec scelerisque augue sollicitudin, fringilla ex ullamcorper, elementum ipsum. Duis vulputate diam risus, non venenatis lacus tincidunt vitae. Nullam non turpis lobortis, convallis sem id, suscipit tortor. Integer sit amet odio vitae dolor sodales volutpat. Donec in quam quis justo laoreet gravida. Aliquam erat volutpat.</p>
</section>